html, body {
  overscroll-behavior: none;
  height: 100%;
  overflow: hidden;
}

.cursor-left {
  cursor: url("images/Manicules-left-small.png"), crosshair;
}

.cursor-right {
  cursor: url("images/Manicules-right-small.png"), crosshair;
}

img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

body {
  color: white;
  font-family: "EB Garamond", Garamond, serif;
  font-weight: 400;
  margin: 0;
  padding: max(9vw, 35px);
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media screen and (min-width: 480px) {
  body {
    padding: max(8vw, 43px);
  }
}
@media screen and (min-width: 600px) {
  body {
    padding: clamp(48px, 6vw, 56px);
  }
}
@media screen and (min-width: 600px) and (max-width: 999px) and (orientation: landscape) {
  body {
    padding: max(4vw, 28px);
  }
}
@media screen and (min-width: 1200px) {
  body {
    padding: max(4.5vw, 56px);
  }
}
@media screen and (min-width: 1600px) {
  body {
    padding: max(2vw, 72px);
  }
}

p {
  margin: 0;
}

a {
  color: white;
  cursor: pointer;
  pointer-events: auto;
  text-decoration: none;
  font-style: italic;
  font-weight: 600;
}

@media (hover: hover) and (pointer: fine) {
  a:hover, .checkbox-text:hover, .projects_text:hover {
    color: lightgrey;
  }
}
.main-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.logo-block {
  position: fixed;
  width: max(24vw, 82px);
  z-index: 1000;
  filter: drop-shadow(0px 0px 10px #4a4a4a);
}
@media screen and (min-width: 600px) {
  .logo-block {
    width: clamp(143.76px, 18vw, 152px);
  }
}
@media screen and (min-width: 600px) and (max-width: 799px) and (orientation: landscape) {
  .logo-block {
    width: max(15vw, 42px);
  }
}
@media screen and (min-width: 800px) and (max-width: 999px) and (orientation: landscape) {
  .logo-block {
    width: max(13vw, 42px);
  }
}
@media screen and (min-width: 1200px) {
  .logo-block {
    width: max(11.5vw, 152px);
  }
}
@media screen and (min-width: 1600px) {
  .logo-block {
    width: max(10vw, 184px);
  }
}

#logo {
  fill: white;
}

.logo-hover {
  cursor: pointer;
}

.logo-hover:hover {
  fill: lightgrey;
}

.text {
  font-size: max(8vw, 28px);
  line-height: max(9.5vw, 30px);
  padding: max(3.6vw, 12px) 0 0;
  position: relative;
  pointer-events: none;
  text-indent: max(28vw, 96px);
  transition: transform 0.4s, opacity 0.4s;
  z-index: 100;
}
@media screen and (min-width: 600px) {
  .text {
    font-size: clamp(47.92px, 6vw, 50px);
    line-height: clamp(56.905px, 7.5vw, 63px);
    padding: 22px 0 0;
    text-indent: clamp(167.72px, 21vw, 180px);
  }
}
@media screen and (min-width: 600px) and (max-width: 799px) and (orientation: landscape) {
  .text {
    font-size: max(4.5vw, 25px);
    line-height: max(5.6vw, 20px);
    padding: 2.5vw 0 0;
    text-indent: max(17.25vw, 100px);
  }
}
@media screen and (min-width: 800px) and (max-width: 999px) and (orientation: landscape) {
  .text {
    font-size: max(3.75vw, 25px);
    line-height: max(4.75vw, 20px);
    padding: 20px 0 0;
    text-indent: max(15.25vw, 100px);
  }
}
@media screen and (min-width: 1200px) {
  .text {
    font-size: max(3.6vw, 50px);
    line-height: max(5vw, 63px);
    padding: max(1.5vw, 22px) 0 0;
    text-indent: max(13.5vw, 180px);
    /* width: 95%;*/
  }
}
@media screen and (min-width: 1600px) {
  .text {
    font-size: max(3vw, 57.564px);
    line-height: max(4.5vw, 79.95px);
    padding: max(1vw, 23.985px) 0 0;
    text-indent: max(12vw, 216px);
  }
}

.checkbox {
  display: none;
}

.checkbox-text {
  font-family: "EB Garamond", Garamond, serif;
  pointer-events: auto;
  cursor: pointer;
  font-style: italic;
  font-variation-settings: "wght" 600;
  transition: font-variation-settings 0.5s;
}

.checkbox:checked + label {
  font-variation-settings: "wght" 800;
  color: #E64F00;
}

.projects {
  font-size: max(5.5vw, 22px);
  line-height: max(7.5vw, 27px);
  orphans: 3;
  position: relative;
  text-align: right;
  transition: transform 0.4s, opacity 0.4s;
  z-index: 100;
}
@media screen and (min-width: 600px) {
  .projects {
    font-size: max(3.45vw, 32.945px);
    line-height: max(5vw, 44.925px);
  }
}
@media screen and (min-width: 600px) and (max-width: 799px) and (orientation: landscape) {
  .projects {
    font-size: max(3vw, 22px);
    line-height: max(4vw, 32px);
  }
}
@media screen and (min-width: 800px) and (max-width: 999px) and (orientation: landscape) {
  .projects {
    font-size: max(2.75vw, 22px);
    line-height: max(3.75vw, 35px);
  }
}
@media screen and (min-width: 1200px) {
  .projects {
    font-size: max(2.8vw, 41.3655px);
    line-height: max(4.1vw, 59.95px);
  }
}
@media screen and (min-width: 1600px) {
  .projects {
    font-size: max(2.6vw, 44.772px);
    line-height: max(2.75vw, 65.559px);
  }
}

.projects_group {
  display: inline-block;
  transition: opacity 2s;
}

.projects_text {
  font-style: italic;
  cursor: pointer;
}

.projects_text:hover {
  color: lightgrey;
}

.bar {
  padding: 0 5px;
}

.modal {
  background-color: black;
  height: 102%;
  left: -1%;
  position: fixed;
  top: -1%;
  transition: background-color, 0.4s;
  width: 102%;
  z-index: 10;
}

.image-gallery {
  height: 100vh;
  left: 0vw;
  position: fixed;
  top: 0vh;
  transform: translate(-100vw, 0);
  transition: transform 1s cubic-bezier(0.6, 0, 0.25, 1);
  overflow: hidden;
}

.image-gallery_images {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.transform-z {
  opacity: 0;
  transform: perspective(100px) translateZ(120px);
  pointer-events: none;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.display-none {
  display: none;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

/*# sourceMappingURL=styles.css.map */
